table.calender {
	width: 75%;
	table-layout: fixed;
	border-spacing: 0;
	border: 1px solid black
}
th, td {
	border: 1px solid black;
}
table.calender td {
	color: green;
}
table.calender td.sunday {
	color: red;
}
table.calender td.holiday {
	color: blue;
}
